h1 {
    font-family: 'Lobster', cursive;
    color:white;
    font-size:60px;
}

h3 {
    color:white;
    font-size:30px;
}
.jumbotron {
    padding-bottom: 20%;
    margin: 0 auto;
    background-image: URL('/assets/img/burger1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}

#leftside{
    color: white;
    background-color: #5c5c5c;
    text-align: center;
    font-size: 1.5em;
}

#rightside{
    color: white;
    background-color: #e49322;
    text-align:center;
    font-size: 1.5em;
}